<!DOCTYPE html>
<html >

  <head>

    <meta charset="UTF-8">
    <title>Login</title>

        <link rel="stylesheet" href="/login/css/style.css">
        <script src="http://code.jquery.com/jquery-1.6.2.min.js" charset="utf-8"></script>

        <script>
            $("#codeAdminS").click(function(e) {
                e.preventDefault();
                alert('Working ajax...');
                var data = {};
				data.code = $("#codeAdminT").val();;

				$.ajax({
					type: 'POST',
					data: JSON.stringify(data),
			        contentType: 'application/json',
                    url: 'http://localhost:3000/communication',
                    success: function(data) {
                        alert('success: ' + data);
                    }
                });
            });
        </script>

  </head>

  <body>

    <body class="align">

  <div class="site__container">

    <div class="grid__container">

      <form method="get" action="/validate" class="form form--login">
          <p><input type="text" name="codeAdmin" id="codeAdminT" placeholder="Code verification" required></p>
          <p><input type="submit" value="Verify!" id="codeAdminS"></p>
          <input type="hidden" value="<%= userR %>" name="userR"/>
      </form>

    </div>

  </div>

</body>

  </body>
</html>
