<!DOCTYPE html>
<html >

  <head>

    <meta charset="UTF-8">
    <title>Login</title>

        <link rel="stylesheet" href="/login/css/style.css">
        <script src="../libraries/jquery-2.1.1.min.js" charset="utf-8"></script>

        <script>
            $(document).ready(function() {
                var codeA;
                $("#codeAdminS").click(function(e) {
                    e.preventDefault();
                    codeA = $("#codeAdminT").val();
                    $.post("communication", {codeV: codeA}, function(data) {
                        if (data == 'okay')
                            alert("Okay!");
                        else
                            alert("Ooops...");
                    });
                });
            });
        </script>

  </head>

  <body>

    <body class="align">

  <div class="site__container">

    <div class="grid__container">

      <form method="get" action="/validate" class="form form--login">
          <p><input type="text" name="codeAdmin" id="codeAdminT" placeholder="Code verification" required></p>
          <p><input type="submit" value="Verify!" id="codeAdminS"></p>
          <input type="hidden" value="<%= userR %>" name="userR"/>
      </form>

    </div>

  </div>

</body>

  </body>
</html>
