<!DOCTYPE html>
<html >

  <head>

    <meta charset="UTF-8">
    <title>Login</title>

        <link rel="stylesheet" href="/login/css/style.css">

  </head>

  <body>

    <body class="align">

  <div class="site__container">

    <div class="grid__container">

        <% if (errorMessage.length > 0) { %>
            <div class="alert-box error"><span>error: </span>
                <%= errorMessage %>
            </div>
        <% } %>

      <form method="get" action="/validate" class="form form--login">
          <p><input type="text" name="codeAdmin" id="codeAdminT" placeholder="Code verification" required></p>
          <p><input type="submit" value="Verify!" id="codeAdminS"></p>
          <input type="hidden" value="<%= userR %>" name="userR"/>
      </form>

    </div>

  </div>

</body>

  </body>
</html>
