<!DOCTYPE html>
<html >

  <head>

    <meta charset="UTF-8">
    <title>Login</title>

        <link rel="stylesheet" href="/login/css/style.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>



  </head>

  <body>

    <body class="align">

  <div class="site__container">

    <div class="grid__container">

      <form id="frmValidate" method="get" action="/validate" class="form form--login">
          <p><input type="text" name="codeAdmin" id="codeAdminT" placeholder="Code verification" required></p>
          <p><input type="submit" value="Verify!" id="codeAdminS"></p>
          <input type="hidden" value="<%= userR %>" name="userR"/>
      </form>

      <script type="text/javascript">
        $(document).ready(function() {
          $("#frmValidate").submit(function(e) {
              e.preventDefault();

              var dataForm = {};
              data.code = $("#codeAdminT").val();

              alert('Working ajax...' + data.code);

              $.ajax({
                  type: 'POST',
                  data: JSON.stringify(data),
                  contentType: 'application/json',
                  url: 'communication',
                  success: function(data) {
                      alert('success: ' + data);
                  }
              });
          });
      });
      </script>

    </div>

  </div>

</body>

  </body>
</html>
