<!DOCTYPE html>
<html >

  <head>

    <meta charset="UTF-8">

    <title>Sign Up</title>

        <link rel="stylesheet" href="/public/css/style.css">
        <script src="/public/js/jquery-2.1.1.min.js"></script>

        <script>
          $(document).ready(function() {
            $("#formRegister").submit(function(e) {
                e.preventDefault();

                var data = {};
                data.username = $('#register__username').val();

                $.ajax({
                  type: 'POST',
                  data: JSON.stringify(data),
                  contentType: 'application/json',
                  dataType: 'json',
                  url: '/validateUsername',
                  success: function(data) {
                      var data = JSON.parse(JSON.stringify(data));

                      if (!data.accepted) {
                          $("#message").html(data.msg);
                          $("#message").show('slow');
                      }
                      else {
                          return;
                      }
                  },
                  error: function() {
                      alert('Error in the server. Contact with the admin.');
                  }
              });
            });
        });
        </script>

  </head>

  <body>

    <body class="align">

  <div class="site__container">

    <div class="grid__container">

        <p style='display:none' class='alert-box error' id='message'>
        </p>

        <br>

        <form id="formRegister" action="/verify" method="post" class="form form--login">
          <p><label> New User </label></p>
          <div class="form__field">
            <label class="fontawesome-user" for="login__username"><span class="hidden">Username</span></label>
            <input name="userR" id="register__username" type="text" class="form__input" placeholder="Username" required>
          </div>

          <div class="form__field">
            <label class="fontawesome-lock" for="login__password"><span class="hidden">Password</span></label>
            <input name="passwordR" id="register__password" type="password" class="form__input" placeholder="Password" required>
          </div>

          <div class="form__field">
            <input type="submit" value="Register">
          </div>

        </form>

    </div>

  </div>

</body>





  </body>
</html>
